{% extends 'base.html' %}
{% block title %}
关于
{% endblock %}
{% block main_body %}
 <!-- CODE START -->
                <div class="panel panel-default">
                    <article class="vc-blog">
                        <h1 class="vc-blog-title">关于我</h1>
                        <div class="vc-blog-content">
                            <img src="https://wx1.sinaimg.cn/mw690/005GjT4tly1fpo4f3cp5wj30e609gaax.jpg" alt="">
                            <p>
                                我不是大神，只是喜欢IT
                            </p>
                            <p>
                                爱生活，爱分享，爱篮球，爱折腾
                            </p>
                            <p>
                                我不帅，你信不信，反正我不信
                            </p>
                            <p>
                                从16年开始写博客，但现在也没有写多少
                            </p>
                            <p>
                                我喜欢写代码装逼，也喜欢记录生活
                            </p>
                        </div>
                    </article>
                </div>
{% endblock %}