{% extends 'base.html' %}
{% block title %}
首页
{% endblock %}
{% block main_body %}
    <div class="main_body">
            <div class="well well-sm text-center">
                搜索关键字：胡同
            </div>
                <div class="thumbnail">
                    <div class="caption">
                        <h1 class="vc-page-title"><a href="">胡同里的小太子</a></h1>
                        <p class="vc-author-info">
                            <time>2015-04-28</time> &bull; <span>Vic Chen</span> &bull; <span><a href="">27条评论</a></span>
                        </p>
                        <p class="hidden-xs">它是胡同里的常客，偶尔静静的在那里等待主人，偶尔惊扰周末睡懒觉的邻居，其实都没什么大不了，大家已经习惯了它的存在，它的主人也一直很爱惜它，后座不常做人，也总是被擦的亮亮的，好像随时等待着女主人来此...</p>
                        <p class="clearfix">
                            <a class="hidden-xs pull-right vc-more-link" href="" role="button">继续阅读 &raquo;</a>
                            <span class="vc-tags">
                                <a href="">我是标签</a>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="thumbnail">
{#                    <div class="vc-pagelist-img">#}
{#                        <a href=""><img src="{{ url_for('static',filename='img/demo02.jpg') }}" alt="demo image">#}
{#                        </a>#}
{#                    </div>#}
                    <div class="caption">
                        <h1 class="vc-page-title"><a href="">重游潘家园 会老友</a></h1>
                        <p class="vc-author-info">
                            <time>2015-04-28</time> &bull; <span>Vic Chen</span> &bull; <span><a href="">27条评论</a></span>
                        </p>
                        <p class="hidden-xs">潘家园旧货市场位于北京东三环南路潘家园桥西南，占地4.85万平方米。市场分为地摊区、古建房区、古典家具区、现代收藏区、石雕石刻区、餐饮服务区等六个经营区。主营古旧物品、珠宝玉石、工艺品、收藏品、装饰品，年成交额达数十亿元...</p>
                        <p class="clearfix">
                            <a class="hidden-xs pull-right vc-more-link" href="" role="button">继续阅读 &raquo;</a>
                            <span class="vc-tags">
                                <a href="">我是标签</a>
                            </span>
                        </p>
                    </div>
                </div>
                <nav>
                    <ul class="pager">
                        <li class="previous"><a href="#"><i class="fa fa-angle-left"></i> Older</a>
                        </li>
                        <li class="next"><a href="#">Newer <i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
{% endblock %}